/* Responsiveness of M.H.P. */
@media only screen and (max-width:600px){
    #row{
        display:flex;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        
    }
    .column{
        float:left;
        height:40%;
        padding:5px;
        color:#05386B; 
        margin:5px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }
    .r1c1{
        width:100%;

        }
    .r1c2{
        width:100%;
        
    } 
    #minirow{
        display:flex;
        flex-direction:column;
        padding:5px;
        height:50%;
    
    } 
    #quiz{
        position: relative;
        height:85px;
        text-align:center;
        margin:5px;
        margin-left: 30px;
        width:80%;
        border:1px solid black;
        box-shadow:2px 2px 5px black;
        background:#EDF5E1;
    }  
    #Disorder{
        flex-wrap:wrap;
    }
    #C-row{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        
    
    }
    .C{
        float:left;
       height:40%;
       padding:5px;
       color:#05386B; 
       margin:5px;
        border-radius: 12px;
    
    }
    .left{
        width:100%;
        height:100%;
        background-color:#5cdb95;
        margin:5px;
        justify-content: center;
        align-items: center;
    
    }
    .C-master{
        margin-left: 3%;
    }
    #C-mini-l{
        height:200px;
        width:280px;
        border-radius:50%;
        background-color:#EDF5E1;
        margin-right:5px;
        box-shadow: 4px 4px 10px black;
        margin:5px;
        
    }
    .right{
        width:100%;
        height:100%;
        background-color:#5cdb95;
    }
    #grid1{
        display:flex;
        
    }
    #grid2{
        display: flex;
    }
    #G{
        
        flex:20%;
        height:60px;
        margin:5px;
        
        flex-wrap:wrap;
        border:1px solid black;
        background-color:#EDF5E1;
        border-radius:12px;
       
    }
    #slideshow{
        margin-left: 5px;
    }
    #column2{
        flex-wrap: wrap;
        flex:100%;
        height:300px;
    }
    #mini-C2{
        height:70%;
        width:70%;
    }
    #row3{
        display: none;
    }
    #row4{
        /*background: linear-gradient(30deg,#cc2b5e,#753a88);*/
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        margin:0px;
        max-width:113%;
        max-height:100px;
        height:1%;
        justify-content: center;
        align-items:center;
        overflow-x: hidden;
        padding-top:30px;
        
    }
    #insta{
        border:1px solid;
        height:60px;
        width:60px;
        border-radius:50%;
        margin:2px;
        
        transition:0.5s;
    }
    #insta:hover{
        height:40px;
        width:40px;
    }
    #column3{
        flex:25%;
        padding:5px;
        height:0;
        border:1px solid black;
        color:white;
        border-radius:12px;
        box-shadow:3px 3px 8px black;
        margin:10px;
    }
    #column3 h1{
        display:none;
    }
    
}
